<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div align="center">
            <p>Введите ваш текст: </p>
            <input style="width: 14em" name="line" maxlength="25" value="{{ current_line }}" readonly> <br>
            <p></p>
            <button name="view_code">Отобразить кодировку</button>
            <br>
            <p></p>
            <button name="view_letter">Показать сообщение по кодировке</button>
            {% if status %}
                <p>{{ status }}</p>
            {% endif %}
            <input name="status" value="{{ status }}" type="text" hidden>
        </div>
        {% if language == "English" and caps %}
            <div align="center" style="margin-top: 40px">
                <button name="pressed" value="1" style="color: white; background-color: black">1</button>
                <button name="pressed" value="2" style="color: white; background-color: black">2</button>
                <button name="pressed" value="3" style="color: white; background-color: black">3</button>
                <button name="pressed" value="4" style="color: white; background-color: black">4</button>
                <button name="pressed" value="5" style="color: white; background-color: black">5</button>
                <button name="pressed" value="6" style="color: white; background-color: black">6</button>
                <button name="pressed" value="7" style="color: white; background-color: black">7</button>
                <button name="pressed" value="8" style="color: white; background-color: black">8</button>
                <button name="pressed" value="9" style="color: white; background-color: black">9</button>
                <button name="pressed" value="0" style="color: white; background-color: black">0</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="Q" style="color: white; background-color: black">Q</button>
                <button name="pressed" value="W" style="color: white; background-color: black">W</button>
                <button name="pressed" value="E" style="color: white; background-color: black">E</button>
                <button name="pressed" value="R" style="color: white; background-color: black">R</button>
                <button name="pressed" value="T" style="color: white; background-color: black">T</button>
                <button name="pressed" value="Y" style="color: white; background-color: black">Y</button>
                <button name="pressed" value="U" style="color: white; background-color: black">U</button>
                <button name="pressed" value="I" style="color: white; background-color: black">I</button>
                <button name="pressed" value="O" style="color: white; background-color: black">O</button>
                <button name="pressed" value="P" style="color: white; background-color: black">P</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="A" style="color: white; background-color: black">A</button>
                <button name="pressed" value="S" style="color: white; background-color: black">S</button>
                <button name="pressed" value="D" style="color: white; background-color: black">D</button>
                <button name="pressed" value="F" style="color: white; background-color: black">F</button>
                <button name="pressed" value="G" style="color: white; background-color: black">G</button>
                <button name="pressed" value="H" style="color: white; background-color: black">H</button>
                <button name="pressed" value="J" style="color: white; background-color: black">J</button>
                <button name="pressed" value="K" style="color: white; background-color: black">K</button>
                <button name="pressed" value="L" style="color: white; background-color: black">L</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="Z" style="color: white; background-color: black">Z</button>
                <button name="pressed" value="X" style="color: white; background-color: black">X</button>
                <button name="pressed" value="C" style="color: white; background-color: black">C</button>
                <button name="pressed" value="V" style="color: white; background-color: black">V</button>
                <button name="pressed" value="B" style="color: white; background-color: black">B</button>
                <button name="pressed" value="N" style="color: white; background-color: black">N</button>
                <button name="pressed" value="M" style="color: white; background-color: black">M</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="clear" style="color: white; background-color: black">clear</button>
                <button name="pressed" value="delete" style="color: white; background-color: black"><==</button>
            </div>
        {% endif %}
        {% if language == "English" and not caps %}
            <div align="center" style="margin-top: 40px">
                <button name="pressed" value="1" style="color: white; background-color: black">1</button>
                <button name="pressed" value="2" style="color: white; background-color: black">2</button>
                <button name="pressed" value="3" style="color: white; background-color: black">3</button>
                <button name="pressed" value="4" style="color: white; background-color: black">4</button>
                <button name="pressed" value="5" style="color: white; background-color: black">5</button>
                <button name="pressed" value="6" style="color: white; background-color: black">6</button>
                <button name="pressed" value="7" style="color: white; background-color: black">7</button>
                <button name="pressed" value="8" style="color: white; background-color: black">8</button>
                <button name="pressed" value="9" style="color: white; background-color: black">9</button>
                <button name="pressed" value="0" style="color: white; background-color: black">0</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="q" style="color: white; background-color: black">q</button>
                <button name="pressed" value="w" style="color: white; background-color: black">w</button>
                <button name="pressed" value="e" style="color: white; background-color: black">e</button>
                <button name="pressed" value="r" style="color: white; background-color: black">r</button>
                <button name="pressed" value="t" style="color: white; background-color: black">t</button>
                <button name="pressed" value="y" style="color: white; background-color: black">y</button>
                <button name="pressed" value="u" style="color: white; background-color: black">u</button>
                <button name="pressed" value="i" style="color: white; background-color: black">i</button>
                <button name="pressed" value="o" style="color: white; background-color: black">o</button>
                <button name="pressed" value="p" style="color: white; background-color: black">p</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="a" style="color: white; background-color: black">a</button>
                <button name="pressed" value="s" style="color: white; background-color: black">s</button>
                <button name="pressed" value="d" style="color: white; background-color: black">d</button>
                <button name="pressed" value="f" style="color: white; background-color: black">f</button>
                <button name="pressed" value="g" style="color: white; background-color: black">g</button>
                <button name="pressed" value="h" style="color: white; background-color: black">h</button>
                <button name="pressed" value="j" style="color: white; background-color: black">j</button>
                <button name="pressed" value="k" style="color: white; background-color: black">k</button>
                <button name="pressed" value="l" style="color: white; background-color: black">l</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="z" style="color: white; background-color: black">z</button>
                <button name="pressed" value="x" style="color: white; background-color: black">x</button>
                <button name="pressed" value="c" style="color: white; background-color: black">c</button>
                <button name="pressed" value="v" style="color: white; background-color: black">v</button>
                <button name="pressed" value="b" style="color: white; background-color: black">b</button>
                <button name="pressed" value="n" style="color: white; background-color: black">n</button>
                <button name="pressed" value="m" style="color: white; background-color: black">m</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="clear" style="color: white; background-color: black">clear</button>
                <button name="pressed" value="delete" style="color: white; background-color: black"><==</button>
            </div>
        {% endif %}
        {% if language == "Russian" and not caps %}
            <div align="center" style="margin-top: 40px">
                <button name="pressed" value="1" style="color: white; background-color: black">1</button>
                <button name="pressed" value="2" style="color: white; background-color: black">2</button>
                <button name="pressed" value="3" style="color: white; background-color: black">3</button>
                <button name="pressed" value="4" style="color: white; background-color: black">4</button>
                <button name="pressed" value="5" style="color: white; background-color: black">5</button>
                <button name="pressed" value="6" style="color: white; background-color: black">6</button>
                <button name="pressed" value="7" style="color: white; background-color: black">7</button>
                <button name="pressed" value="8" style="color: white; background-color: black">8</button>
                <button name="pressed" value="9" style="color: white; background-color: black">9</button>
                <button name="pressed" value="0" style="color: white; background-color: black">0</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="й" style="color: white; background-color: black">й</button>
                <button name="pressed" value="ц" style="color: white; background-color: black">ц</button>
                <button name="pressed" value="у" style="color: white; background-color: black">у</button>
                <button name="pressed" value="к" style="color: white; background-color: black">к</button>
                <button name="pressed" value="е" style="color: white; background-color: black">е</button>
                <button name="pressed" value="н" style="color: white; background-color: black">н</button>
                <button name="pressed" value="г" style="color: white; background-color: black">г</button>
                <button name="pressed" value="ш" style="color: white; background-color: black">ш</button>
                <button name="pressed" value="щ" style="color: white; background-color: black">щ</button>
                <button name="pressed" value="з" style="color: white; background-color: black">з</button>
                <button name="pressed" value="х" style="color: white; background-color: black">х</button>
                <button name="pressed" value="ъ" style="color: white; background-color: black">ъ</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="ф" style="color: white; background-color: black">ф</button>
                <button name="pressed" value="ы" style="color: white; background-color: black">ы</button>
                <button name="pressed" value="в" style="color: white; background-color: black">в</button>
                <button name="pressed" value="а" style="color: white; background-color: black">а</button>
                <button name="pressed" value="п" style="color: white; background-color: black">п</button>
                <button name="pressed" value="р" style="color: white; background-color: black">р</button>
                <button name="pressed" value="о" style="color: white; background-color: black">о</button>
                <button name="pressed" value="л" style="color: white; background-color: black">л</button>
                <button name="pressed" value="д" style="color: white; background-color: black">д</button>
                <button name="pressed" value="ж" style="color: white; background-color: black">ж</button>
                <button name="pressed" value="э" style="color: white; background-color: black">э</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="я" style="color: white; background-color: black">я</button>
                <button name="pressed" value="ч" style="color: white; background-color: black">ч</button>
                <button name="pressed" value="с" style="color: white; background-color: black">с</button>
                <button name="pressed" value="м" style="color: white; background-color: black">м</button>
                <button name="pressed" value="и" style="color: white; background-color: black">и</button>
                <button name="pressed" value="т" style="color: white; background-color: black">т</button>
                <button name="pressed" value="ь" style="color: white; background-color: black">ь</button>
                <button name="pressed" value="б" style="color: white; background-color: black">б</button>
                <button name="pressed" value="ю" style="color: white; background-color: black">ю</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="clear" style="color: white; background-color: black">clear</button>
                <button name="pressed" value="delete" style="color: white; background-color: black"><==</button>
            </div>
        {% endif %}
        {% if language == "Russian" and caps %}
            <div align="center" style="margin-top: 40px">
                <button name="pressed" value="1" style="color: white; background-color: black">1</button>
                <button name="pressed" value="2" style="color: white; background-color: black">2</button>
                <button name="pressed" value="3" style="color: white; background-color: black">3</button>
                <button name="pressed" value="4" style="color: white; background-color: black">4</button>
                <button name="pressed" value="5" style="color: white; background-color: black">5</button>
                <button name="pressed" value="6" style="color: white; background-color: black">6</button>
                <button name="pressed" value="7" style="color: white; background-color: black">7</button>
                <button name="pressed" value="8" style="color: white; background-color: black">8</button>
                <button name="pressed" value="9" style="color: white; background-color: black">9</button>
                <button name="pressed" value="0" style="color: white; background-color: black">0</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="Й" style="color: white; background-color: black">Й</button>
                <button name="pressed" value="Ц" style="color: white; background-color: black">Ц</button>
                <button name="pressed" value="У" style="color: white; background-color: black">У</button>
                <button name="pressed" value="К" style="color: white; background-color: black">К</button>
                <button name="pressed" value="Е" style="color: white; background-color: black">Е</button>
                <button name="pressed" value="Н" style="color: white; background-color: black">Н</button>
                <button name="pressed" value="Г" style="color: white; background-color: black">Г</button>
                <button name="pressed" value="Ш" style="color: white; background-color: black">Ш</button>
                <button name="pressed" value="Щ" style="color: white; background-color: black">Щ</button>
                <button name="pressed" value="З" style="color: white; background-color: black">З</button>
                <button name="pressed" value="Х" style="color: white; background-color: black">Х</button>
                <button name="pressed" value="Ъ" style="color: white; background-color: black">Ъ</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="Ф" style="color: white; background-color: black">Ф</button>
                <button name="pressed" value="Ы" style="color: white; background-color: black">Ы</button>
                <button name="pressed" value="В" style="color: white; background-color: black">В</button>
                <button name="pressed" value="А" style="color: white; background-color: black">А</button>
                <button name="pressed" value="П" style="color: white; background-color: black">П</button>
                <button name="pressed" value="Р" style="color: white; background-color: black">Р</button>
                <button name="pressed" value="О" style="color: white; background-color: black">О</button>
                <button name="pressed" value="Л" style="color: white; background-color: black">Л</button>
                <button name="pressed" value="Д" style="color: white; background-color: black">Д</button>
                <button name="pressed" value="Ж" style="color: white; background-color: black">Ж</button>
                <button name="pressed" value="Э" style="color: white; background-color: black">Э</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="Я" style="color: white; background-color: black">Я</button>
                <button name="pressed" value="Ч" style="color: white; background-color: black">Ч</button>
                <button name="pressed" value="С" style="color: white; background-color: black">С</button>
                <button name="pressed" value="М" style="color: white; background-color: black">М</button>
                <button name="pressed" value="И" style="color: white; background-color: black">И</button>
                <button name="pressed" value="Т" style="color: white; background-color: black">Т</button>
                <button name="pressed" value="Ь" style="color: white; background-color: black">Ь</button>
                <button name="pressed" value="Б" style="color: white; background-color: black">Б</button>
                <button name="pressed" value="Ю" style="color: white; background-color: black">Ю</button>
                <br>
                <div style="margin-top: 10px"></div>
                <button name="pressed" value="clear" style="color: white; background-color: black">clear</button>
                <button name="pressed" value="delete" style="color: white; background-color: black"><==</button>
            </div>
        {% endif %}
        <p align="center">
            <button name="language" style="color: white; background-color: blue">Ru/Eng</button>
            <button name="caps" style="color: white; background-color: blue">CAPS</button>
            <input name="current_caps" value="{{ caps }}" hidden>
            <input name="current_language" value="{{ language }}" hidden>
        </p>
    </form>
</body>
</html>